<div class="full-post-container">
  <h3>Snack Title</h3>
  <p><%= @post.title %></p>
  <p>Asked by: <%= @author %></p>
  <p>Question Vote Score: <%= @post.vote_count %></p>
  <p>------------------------------------------------------------------------------</p>



    <div class="post_question">
      <p><%= @post.question %></p>
      <% if @post.votes.find_by(user_id: session[:id]) %>
        <p>Snack you very much for your vote!</p>
      <% else %>
        <%= erb :_vote_button, locals: { resource_class: @post.class.name, resource_id: @post.id, post_resource_id: @post.id}  %>
      <% end %>
    </div>

  <div id ="comment_group">
    <% @post.comments.each do |comment| %>
      <p><%= comment.description %></p>
      <p>Comment by: <%= comment.user.username %></p>
      <br>
    <% end %>
  </div>

    <button class="new-post-comment-button">Add Comment</button>
    <%= erb(:"/comment/new", locals: {resource: @post.id, resource_class: @post.class.name, resource_id: @post.id} ) %>

  <section class="answers">
  <h4 id="answers_header">Answers</h4>
  <ul id="answer_list">
  <% @post.answers.each do |answer| %>
    <li class="answer">
      <article>
        <p><%= answer.description %></p>
       <% if session[:id] == @post.user.id %>
        <% if @post.best_answer == nil %>
          <span class="best_answer"><a href="/post/<%=@post.id%>/<%=answer.id%>">best answer</a></span>
        <% end %>
       <% end %>
      <span class="answer_author">answered <%= answer.author %></span>
        <p>Answer Vote Score: <%= answer.vote_count %></p>
    <% if answer.votes.find_by(user_id: session[:id]) %>
      <p>Snack you very much for your vote!</p>
    <% else %>
      <%= erb :_vote_button, locals: { resource_id: answer.id, resource_class: answer.class.name, post_resource_id: @post.id} %>
    <br>
    <% end %>
      <% answer.comments.each do |comment| %>
        <p><%= comment.description %></p>
        <p>Comment by: <%= comment.user.username %></p>
        <br>
      <% end %>

      <button class="new-answer-comment-button">Comment on this Answer</button>
      <%= erb(:"/comment/new", locals: {resource: @post.id, resource_class: answer.class.name, resource_id: answer.id } ) %>
    <br>
      </article>
    </li>
  <% end %>
  </ul>


  <form action="/post/<%= @post.id %>" method="post" id="new_answer">
    <label for="your_answer">Your answer</label>
    <input type="text" name="your_answer"/>
    <br>

    <button class="new-answer-button" type="submit" value="submit_answer">Post Your Answer</button>

  </form>
  </section>

</div>


