<div class="full-post-container">
  <h3>Snack Title</h3>
  <p><%= @post.title %></p>
  <p>Asked by: <%= @author %></p>
  <p>------------------------------------------------------------------------------</p>

  <div class="post_question">
    <p><%= @post.question %></p>

  </div>


  <button class="new-comment-button">Add Comment</button>
  <%= erb(:"/comment/new", locals: {resource: @post.id} ) %>


  <section class="answers">
  <h4 id="answers_header">Answers</h4>
  <ul id="answer_list">
  <% @post.answers.each do |answer| %>
    <li class="answer">
      <article>
        <p><%= answer.description %></p>
       <% if session[:id] == @post.user.id %>
        <% if @post.best_answer == nil %>
          <span class="best_answer"><a href="/post/<%=@post.id%>/<%=answer.id%>">best answer</a></span>
        <% end %>
       <% end %>
      <span class="answer_author">answered <%= answer.author %></span>
      </article>
    </li>
  <% end %>
  </ul>

  <form action="/post/<%= @post.id %>" method="post" id="new_answer">
    <label for="your_answer">Your answer</label>
    <input type="text" name="your_answer"/>
    <br>

    <button class="new-answer-button" type="submit" value="submit_answer">Post Your Answer</button>

  </form>
  </section>

</div>


