<div class="index-container">
  <h1>Snack List</h1>
  <br>
  <form method="get" action='/post/new'>
    <button type="submit" name="new_post" class="vote-button">New Post</button>
  </form>

  <div class='index-listing'>
    <% posts = Post.all %>
    <% posts.each do |post| %>
      <h2><a href='/post/<%= post.id %>/show'><%= post.title %></a></h2>
      <p>
        Snacked by: <span class='author'><%= post.user.username %></span><br>
        Total answers: <span class='answer_count'><%= post.answers.count %></span><br>
        Vote scoring: <span class='vote_count'><%= post.vote_count %></span>
      </p>
       <%= erb :_vote_button, locals: { resource: post.id } %>
    <% end %>
  </div>
</div>
