<div class="index-container">
  <h1>Slack List</h1>
  <br>
  <form method="post" action='/posts/new'>
    <button type="submit" name="new_post" class="vote-button">New Post</button>
  </form>

  <div class='index-listing'>
    <% posts = Post.all %>
    <% posts.each do |p| %>
      <h2><a href='/posts/<%= p.id %>'><%= p.title %></a></h2>
      <p>
        <span class='votes'><%= p.vote_count %></span>
        <span class='username'><%= p.title %></span>
        <span class='username'><%= p.answers.count %></span>
      </p>
    <% end %>
      <br>
  </div>
</div>
