<div class="index-container">
  <h1>Slack List</h1>
  <br>
  <form method="post" action='/posts/new'>
    <button type="submit" name="new_post" class="vote-button">New Post</button>
  </form>

  <div class='index-listing'>
    <% if @posts %>
    <% @posts.each do |post| %>
      <h2><a href='/posts/<%= post.id %>'><%= post.title %></a></h2>
      <p>
        <span class='votes'><%= post.vote_count %></span>
        <span class='username'><%= post.username %></span>
        <span class='username'><%= post.answers.count %></span>
      </p>
      <br>
    <% end %>
    <% else %>
      There are no posts to view.......yet

    <% end %>
  </div>
</div>
